	jQuery(function() {
		// if an f2-autoload element is found, auto-init F2 and load any placeholders
		if (jQuery('#f2-autoload').length) {
			F2.init();
			F2.loadPlaceholders(document);
		}
	});

	exports.F2 = F2;

	if (typeof define !== 'undefined' && define.amd) {

		define(function() {
			return F2;
		});

	}

})(typeof exports !== 'undefined' ? exports : window);
