  
  jQuery.noConflict();
  exports.F2 = F2;

  if (typeof define !== 'undefined' && define.amd) {

    define(function() {
      return F2;
    });
    
  }

})(typeof exports !== 'undefined' ? exports : window);
