;(function() {

	function noop() { }

	// Check for console
	if (typeof console === "undefined" || typeof console.log === "undefined") {
		// Set all console methods to a non process
		console = {
			assert: noop,
			clear: noop,
			count: noop,
			debug: noop,
			dir: noop,
			dirxml: noop,
			error: noop,
			exception: noop,
			group: noop,
			groupCollapsed: noop,
			groupEnd: noop,
			info: noop,
			log: noop,
			markTimeline: noop,
			profile: noop,
			profileEnd: noop,
			table: noop,
			time: noop,
			timeEnd: noop,
			timeStamp: noop,
			trace: noop,
			warn: noop
		};
	}

	// Local copies of AMD we can overwrite if necessary
	var define = window.define;
	var require = window.require;
	var requirejs = window.requirejs;

	// Placeholders for AMD
	if (!define || !require) {
		define = function(name, depNames, fn) {
			var deps = [];

			for (var i = 0, len = depNames.length; i < len; i++) {
				var depModuleName = depNames[i].split('.')[1];
				deps.push(F2[depModuleName]);
			}

			window[name.split('.')[1]] = fn.apply(window, deps);
		};

		require = function(depNames, fn) {
			var deps = [];

			for (var i = 0, len = depNames.length; i < len; i++) {
				var depModuleName = depNames[i].split('.')[1];
				deps.push(F2[depModuleName]);
			}

			fn.apply(window, deps);
		};
	}
