.hide-deprecated .deprecated,
.hide-inherited .inherited,
.hide-private .private,
.hide-protected .protected {
	display:none;
}

.dl-horizontal {
	margin:0;
}

.level2 {
	margin-bottom:35px;
	padding-top:0;
}

table.table-members td.name {
	white-space:nowrap;
}

ul.params {
	display:inline;
	list-style-type:none;
	margin:0;
	padding:0;
}
ul.params li {
	display:inline;
}

ul.commas li:after { content: ','; }
ul.commas li:last-child:after { content: ''; }

.backToTop {
	background-color:#EEEEEE;
	height:1px;
	margin-top:35px;
	position:relative;
	text-align:center;
}
.backToTop a {
	background-color:#FFFFFF;
	left:50%;
	margin-left:-45px;
	position:absolute;
	top:-9px;
	width:90px;
	z-index:1;
}

/*** Labels ***/
.label.public,
.label.static,
.label.chainable,
.label.async,
.label.multiple {
}
.label.deprecated {
	background-color:#C67605;
}
.label.private {
	background-color:#B94A48;
}
.label.protected {
	background-color:#468847;
}
.label.final {
	background-color:#333333;
}
.label.type {
	background-color:#F7F7F9;
	border:1px solid #E1E1E8;
	color:#333333;
	font-weight:normal;
	text-shadow:none;
}
/*** Labels ***/