{
  "env": {
    "browser": true,
    "amd": true,
    "jasmine": true
  },
  "globals": {
    "module": true,
    "runs": true,
    "itConditionally": true,
    // Examples
    "F2_jsonpCallback_com_openf2_examples_javascript_cds": true
  },
  "rules": {
    "dot-notation": false,
    "new-cap": false,
    "no-eval": false,
    "no-comma-dangle": true,
    "no-cond-assign": true,
    "no-console": false,
    "quotes": [1, "single"],
    "strict": false,
    "no-underscore-dangle": false,
    "valid-jsdoc": [2, {
      "requireReturn": false
    }],
    // Stylistic
    "block-scoped-var": true,
    "no-else-return": true,
    "no-eq-null": true,
    "func-style": [2, "declaration"],
    "spaced-line-comment": ["always"],
    "space-in-parens": ["never"],
    "space-in-brackets": ["never"],
    "space-before-blocks": "always",
    "space-after-keywords": "always",
    "space-after-function-name": "never",
    "operator-assignment": [2, "always"],
    // TODO: reverse when issues are fixed
    "consistent-return": false,
    "no-use-before-define": false,
    "no-unused-vars": false
  }
}
