<div style="display:none;">
	<h1>F2 - The Open Financial Framework</h1>
	<meta http-equiv="refresh" content="0;url=./classes/F2.html">
	<a href="./classes/F2.html">Go to the <code>F2</code> class, the root namespace of the F2 SDK &raquo;</a>
</div>