<h1 class='page-header'>API Reference</h1>

<p class='lead'>
	The goal of F2 is to define a development standard for the financial services
	industry that offers a cost saving, risk-reducing method for building
	innovative, multi-provider solutions.
</p>

<h2>Getting Started</h2>

<p>To instantly F2-enable your solution, download and include F2.js on your web
	pages. It's only 7.6kb and works with jQuery, Angular, Dojo, ExtJS and other
	toolkits. You can use any backend you'd like; .NET, Java, Node.js, PHP and
	more are all supported.</p>

<h2>Latest Version</h2>
<p>The latest version of F2 is
	{{projectVersion}}. Previous
	<a href='https://github.com/OpenF2/F2/releases'>versions are available on
		GitHub</a>.</p>

<script
	src='https://gist.github.com/anonymous/3836902fbfbb14a7f186.js'
></script>

<p><a
		href='https://github.com/OpenF2/F2/releases'
		class='btn btn-success'
	>Download version {{projectVersion}}</a></p>

<h2>Examples</h2>

There are a few different types of examples available below.

<div class='media'>
	<a class='media-left' href='../examples.html'><i
			class='fa fa-compass'
		></i></a>
	<div class='media-body'>
		<h4 class='media-heading'>Examples</h4>
		Visit the [examples](../examples.html) page for a live demo of Apps in a
		basic Container.
	</div>
</div>

<div class='media'>
	<a class='media-left' href='https://openf2.github.io/F2/F2-examples.zip'><i
			class='fa fa-download'
		></i></a>
	<div class='media-body'>
		<h4 class='media-heading'>Download</h4>
		A variety of example Containers and Apps to
		<a href='https://openf2.github.io/F2/F2-examples.zip'>download</a>
		and run on your localhost. Most are "plain" javascript, others are written
		in .NET, PHP and Node.js. The
		<a href='https://github.com/OpenF2/F2/tree/master/examples'>examples source
			code is also on GitHub</a>.
	</div>
</div>

<div class='media'>
	<a class='media-left' href='http://jsfiddle.net/user/OpenF2js/fiddles/'><i
			class='fa fa-jsfiddle'
		></i></a>
	<div class='media-body'>
		<h4 class='media-heading'>jsFiddle</h4>
		Review a collection of fiddles on
		<a
			href='http://jsfiddle.net/user/OpenF2js/fiddles/'
		>jsfiddle.net/user/openF2js</a>.
	</div>
</div>

<div class='media'>
	<a class='media-left' href='http://codepen.io/OpenF2/'><i
			class='fa fa-codepen'
		></i></a>
	<div class='media-body'>
		<h4 class='media-heading'>Codepen</h4>
		Review a collection of pens on
		<a href='http://codepen.io/OpenF2/'>codepen.io/openF2</a>.
	</div>
</div>

<div class='media'>
	<a class='media-left' href='http://openf2.github.io/iOS-Container/'><i
			class='fa fa-apple'
		></i></a>
	<div class='media-body'>
		<h4 class='media-heading'>iOS Demo App</h4>
		An
		<a href='http://openf2.github.io/iOS-Container/'>iOS app</a>
		demonstrating F2 App integration using UIWebViews, a javascript bridge for
		<a href='/container-development.html#context'>F2 Context</a>, and a native
		search control.
	</div>
</div>