<h1 class="page-header">API Reference</h1>
<p class="lead">
The goal of F2 is to define a development standard for the financial services industry that offers a cost saving, risk-reducing method for building innovative, multi-provider solutions. F2 is open, free and active on GitHub.
</p>

<h2>Get Started</h2>
<p>To instantly F2-enable your solution, download and include F2.js on your web pages. It's only 7.6kb and works with jQuery, Angular, Dojo, ExtJS and other toolkits. You can use any backend you'd like; .NET, Java, Node.js, PHP and more are all supported.</p>
<script src="https://gist.github.com/anonymous/cee33c5672d1876caa10.js"></script>

<h2>Examples</h2>

<p>Example containers and apps can be found in at least two places: <a href="http://www.openf2.org/examples">openf2.org/examples</a> and in the <a href="http://docs.openf2.org/F2-examples.zip">downloadable F2 examples zip archive</a>. There are also numerous jsFiddles available in the documentation. The GitHub repository contains examples, too.</p>

<ul>
<li>Clone this repository using <code>git clone git@github.com:OpenF2/F2.git</code>, or</li>
<li>Download the <a href="https://github.com/OpenF2/F2/zipball/master">latest version</a> of this repository</li>
</ul>

<h2>Versions</h2>
<p>F2 is currently <strong>{{projectVersion}}</strong>. Previous <a href="https://github.com/OpenF2/F2/releases">versions are available on GitHub</a>.</p>

<h2>Copyright and License</h2>

<p>Copyright &copy; 2014 Markit On Demand, Inc.</p>

<p>"F2" is licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at:</p>

<p><a href="http://www.apache.org/licenses/LICENSE-2.0">http://www.apache.org/licenses/LICENSE-2.0</a></p>

<p>Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License.</p>

<p>Please note that F2 ("Software") may contain third party material that Markit On Demand Inc. has a license to use and include within the Software (the "Third Party Material"). A list of the software comprising the Third Party Material and the terms and conditions under which such Third Party Material is distributed are reproduced in the <a href="https://github.com/OpenF2/F2/blob/master/ThirdPartyMaterial.md">ThirdPartyMaterial.md</a> file. The inclusion of the Third Party Material in the Software does not grant, provide nor result in you having acquiring any rights whatsoever, other than as stipulated in the terms and conditions related to the specific Third Party Material, if any.</p>