<form id='options-form' class='form-inline pull-right'>
	Show:
	<!--<div class="checkbox">
        <label>
            <input type="checkbox" id="api-show-inherited" checked>
            Inherited
        </label>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" id="api-show-protected">
            Protected
        </label>
    </div>-->
	<div class='checkbox'>
		<label>
			<input type='checkbox' id='api-show-private' />
			Private
		</label>
	</div>
	<div class='checkbox'>
		<label>
			<input type='checkbox' id='api-show-deprecated' />
			Deprecated
		</label>
	</div>
</form>