<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>F2 Container - AngularJS</title>
	<link href="../libs/bootstrap3/css/bootstrap.css" rel="stylesheet" />
	<link href="../apps/com_angular_comparetool/com_angular_comparetool.css" rel="stylesheet" />
</head>
<body>
	<div class="container">
		<div class="row-fluid">
			<div id="app-com_angular_comparetool">
				<div class="compare" ng-controller="CompareCtrl">
					<p>
						Examples: 
						<span ng-repeat="symbol in ['aapl', 'tsla', 'mmm', 'dis', 'amzn']">
							<a href="javascript:;" ng-click="addCompany(symbol)">{{symbol | uppercase}}</a>{{$last && " " || ", "}}
						</span>
					</p>
					<table class="table table-striped table-condensed">
						<thead>
							<tr>
								<th></th>
								<th ng-repeat="issue in issues">{{issue.Name}}
									<span>{{issue.Symbol}}</span>
									<a href="javascript:;" ng-click="removeCompany(issue.Symbol)">Remove</a>
								</th>
								<th ng-repeat="issue in [] | range:numRemaining()">
									<form ng-submit="addCompany(searchSymbol)">
										<input type="text" name="searchSymbol" placeholder="Enter symbol..." ng-model="searchSymbol" ng-class="{loading: this.isLoading}" required />
										<input type="submit" value="Compare" class="btn" />
									</form>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="column in columns">
								<td>{{column.label}}</td>
								<td ng-repeat="issue in issues">{{format(issue[column.field], column.format)}}</td>
								<td ng-repeat="issue in [] | range:numRemaining()"></td>
							</tr>
						</tbody>
					</table>
					<p class="text-light gap-top">Quotes provided by <a href="http://dev.markitondemand.com/#stockquote" target="_blank">http://dev.markitondemand.com/</a></p>
				</div>
			</div>
		</div>
	</div>

	<!-- Libraries -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script src="../libs/require.js"></script>

	<!-- F2 -->
	<script src="../../sdk/f2.debug.js"></script>

	<!-- Plugin -->
	<script src="../plugins/F2.AppClassAdapters.AngularJS.js"></script>

	<!-- App scripts -->
	<script src="../apps/com_angular_comparetool/com_angular_comparetool.js"></script>
	<script src="../apps/com_angular_comparetool/moment.min.js"></script>

	<script>

		require(['F2'], function(F2) {
			F2.load({
				appConfigs: [{
					appId: 'com_angular_comparetool',
					root: document.getElementById('app-com_angular_comparetool')
				}]
			});
		});

	</script>
</body>
</html>
