/**
 * All selectors must have .YOUR_APP_ID as a prefix. 
 */

.com_openf2_examples_php_f2wits .avatar {
	vertical-align: top;
}

.com_openf2_examples_php_f2wits img {
	max-width: 35px !important;
}

.com_openf2_examples_php_f2wits time {
	display: block;
	font-size:12px;
	color: #8f8f8f;
}