/**
 * All selectors must have .YOUR_APP_ID as a prefix. 
 */

.com_markh_F2wits .avatar {
	vertical-align: top;
}

.com_markh_F2wits img {
	max-width: 35px !important;
}

.com_markh_F2wits time {
	display: block;
	font-size:12px;
}