
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="F2, the open financial framework, is a web integration framework designed specifically for the financial markets.">
<meta name="author" content="Markit">

<link href="./css/F2.css" rel="stylesheet">
<link href="//docs.openf2.com/css/prettify.css" rel="stylesheet">
<link href="./css/F2-docs.css" rel="stylesheet">
<style type="text/css" media="print">
	#toc {
		display: none;
	}

	.row .span9 {
		margin-left: 0;
	}
</style>

<link rel="apple-touch-icon-precomposed" sizes="57x57" href="./img/touch-icon-iphone-57.png" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="./img/touch-icon-ipad-72.png" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="./img/touch-icon-iphone-114.png" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="./img/touch-icon-ipad-144.png" />