<li id="viewOptions">
	<label class="checkbox" for="show-inherited">
		<input type="checkbox" id="show-inherited" value="inherited">
		Inherited
	</label>
	<label class="checkbox" for="show-protected">
		<input type="checkbox" id="show-protected" value="protected">
		Protected
	</label>
	<label class="checkbox" for="show-private">
		<input type="checkbox" id="show-private" value="private">
		Private
	</label>
	<label class="checkbox" for="show-deprecated">
		<input type="checkbox" id="show-deprecated" value="deprecated">
		Deprecated
	</label>
</li>