body {
	padding-top: 92px;
	padding-bottom: 40px;
}

/*sections*/
h1.title { 
	margin-top: 0;
}

.level2 { 
	padding-top:75px;
}

p.lead { 
	margin-bottom: 0;
}

.level4 { 
	margin-top:30px;
}

section > hr {
	margin:40px 0 0;
}

/*left rail/table of contents*/
#toc > ul { 
	width:240px; 
}

#toc > ul { 
	margin-bottom:30px; 
}

#toc ul ul { 
	font-size: 85%; 
}

/*main content*/
.row .span9 { 
	margin-left:300px;
}

.container .row {
	margin-bottom: 20px;
}

pre {
	font-size:12px;
}
pre.prettyprint {
	padding: 8px;
	background-color: #F7F7F9;
	border: 1px solid #E1E1E8;
}

/*footer*/
footer .pull-right {
	text-align: right;
}