body {
	padding-top: 92px;
	padding-bottom: 40px;
}

/*sections*/
h1.title { 
	margin-top: 0;
}

.level2 { 
	padding-top:75px;
}

p.lead { 
	xmargin-bottom: 0;
}

.level4 { 
	margin-top:30px;
}

section > hr {
	margin:40px 0 0;
}

/*left rail/table of contents*/
#toc {
	min-height: 1px;/*keep width of well so main content doesn't collapse*/
}

#toc > ul.affix-top {

}

#toc > ul,
#toc > ul.affix,
#toc > ul.affix-bottom {
	width:205px;
}

#toc > ul.affix {
	margin-bottom: 70px;
}

/*
#toc > ul.affix-bottom {
	top:auto;
	position: absolute;
	bottom:100px;
}*/

#toc ul ul { 
	font-size: 85%; 
}

/*main content*/
.container .row {
	margin-bottom: 20px;
}

.container .span9 {
	padding-bottom:100px;
}

pre {
	font-size:12px;
}
pre.prettyprint {
	padding: 8px;
	background-color: #F7F7F9;
	border: 1px solid #E1E1E8;
}

/*footer*/
footer .pull-right {
	text-align: right;
}