.com_openf2_examples_javascript_quote .last {
	display:inline;
}
.com_openf2_examples_javascript_quote .lastChange {
	display:inline;
	margin-left:15px;
}
.com_openf2_examples_javascript_quote .positive {
	color:#468847;
}
.com_openf2_examples_javascript_quote .negative {
	color:#B94A48;
}

.com_openf2_examples_javascript_quote .f2-app-view {
	padding-bottom: 10px;
}