.com_openf2_examples_javascript_cds h5 {margin-bottom: 0;}

.com_openf2_examples_javascript_cds .table th{white-space: nowrap; line-height: 13px;}
.com_openf2_examples_javascript_cds .table th,
.com_openf2_examples_javascript_cds .table td {
	text-align: right;
}

.com_openf2_examples_javascript_cds .table th.first,
.com_openf2_examples_javascript_cds .table td.first {
	text-align: left;
}

.com_openf2_examples_javascript_cds .pos {
	color:green;
}

.com_openf2_examples_javascript_cds .neg {
	color:red;
}

.com_openf2_examples_javascript_cds table table {
	font-size: 85%;
}

.com_openf2_examples_javascript_cds table table tr {
	cursor: text;
}
.com_openf2_examples_javascript_cds p {line-height: 13px; color: #8F8F8F;}